# All
dist
.tox
__pycache__
.testmondata
*.log

# MkDocs
site
docs/reference
docs/user-guides/datasets
docs/user-guides/datasets-analysis
# LDIMBench
.ldim_benchmark_cache
benchmark-results
sensitivity-analysis
test
test_data
grid-search
grid-search_battledim
out
graz-ragnitz-test
graz-ragnitz-test_old