# All
dist
.tox
__pycache__
.testmondata
*.log

# MkDocs
site
docs/reference
docs/user-guides/datasets
docs/user-guides/datasets-analysis
# LDIMBench
.ldim_benchmark_cache
benchmark-results
test
test_data
grid-search